<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GOEN Energy Production Dashboard</title>
</head>
<body>
  <link rel="stylesheet" href="/static/css/header_style.css">
  <link rel="stylesheet" href="/static/css/charts_style.css">
  <div class="header" align="center">
  <div class="header-content">
    <img src="/static/images/logo.png" alt="GOEN Logo" class="logo">
    <h1 class="title">Energy Production Dashboard</h1>
  </div>
  </div>

  <!--CHARTS-->
  <div class="charts-container">
    <div class="chart-section">
      <canvas id="recentValuesLineChart" width="700" height="350"></canvas>
    </div>

    <div class="chart-section">
      <canvas id="yesterdayBalanceBarChart" width="700" height="350"></canvas>
    </div>
  </div>

    <div> <!--DATA IN TEXT FORMAT-->
      <!--DATA 1: Current Balance in kW-->
      <!--DATA 2: Last 1 Hour Balance in kW-->
      <!--DATA 3: Today's Balance in kW-->
      <!--DATA 4: Last 24 Hours in kW-->
    </div>
    <canvas id="currentProductionConsumptionBarChart"></canvas>
    <canvas id="dailyBalanceBarChart"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>
