<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GOEN Energy Production Dashboard</title>
</head>
<body>
  <div>
  <canvas id="currentProductionConsumptionBarChart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  const ctx = document.getElementById('currentProductionConsumptionBarChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Production', 'Consumption'],
      datasets: [{
        label: 'by kW',
        data: [15, 24],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  </script>
</body>
</html>
